<!DOCTYPE html>
<html lang="">
<head>
    <title>Categories</title>
    <%- include('headerfiles') %>

    <style>
        .error {
            color: red;
        }

        body {
            font-family: 'Nunito', sans-serif;
            /*color: #384047;*/
        }


        .side-corner-tag {
            position: relative;
            color: white;
            display: inline-block;
            padding: 5px;
            overflow: hidden;
            font-weight: 700;
        }

        .side-corner-tag > p {
            display: inline;
        }

        .side-corner-tag > p > span {
            position: absolute;
            display: inline-block;
            right: -25px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2), inset 0px 5px 30px rgba(255, 255, 255, 0.2);
            text-align: center;
            text-transform: uppercase;
            top: 16px;
            background-color: #2a2185;
            width: 100px;
            padding: 3px -1px;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
        }

        .side-corner-tag p:before {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            top: -17px;
            right: 69px;
            z-index: -1;
            border: 17px solid;
            border-color: transparent transparent #662121 transparent;
        }

        .side-corner-tag p:after {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            top: 74px;
            z-index: -1;
            right: -10px;
            border: 17px solid;
            border-color: #662121 transparent transparent transparent;
        }

    </style>
    <script>

    </script>
</head>
<!--onload="onloadData()"-->

<body>
<%- include('userheader') %>

<div class="container">
    <div class="container mt-5 mb-5">
        <div class="heading-8 text-start ">
            <h2 style="font-size: 4rem;color: #194681">Winners</h2>
            <p style="color: #194681" class="fw-normal">We proudly present our winners, these are people who visualized
                the reward of success...</p>
        </div>

    </div>
</div>
<% if(err) { %>
    <div class="text-center alert-danger p-5">
        <h4 class="">Internal Server Error.</h4>
        <h6 class="">No Data Found.</h6>
    </div>
<% } else { %>

    <% if(data.length === 0) { %>
        <div class="container">
            <div class="text-center alert-danger p-5">
                <h6 class="">No Data Found.</h6>
            </div>
        </div>
    <% } else { %>
        <% data.forEach((value) => { %>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-lg-6 border mt-3">
                        <div class="row">
                            <div class="col-lg-6 col-md-3 col-sm-3">
                                    <img src="../<%= value.image%>" alt="" class="img-thumbnail" style="height: 230px;">
                            </div>
                            <div class="col-lg-6 col-md-3 col-sm-3">
                                <div class="winner-d d-flex align-items-center mt-3">
                                    <img src="../<%= value.photo%>" alt="" class="img-thumbnail" style="width:70px;height:70px">
                                    <h4 style="margin-left: 0.7rem; font-weight: bold;"><%= value.fullname%></h4>
                                </div>
                                <div class="product-data mt-3 fw-bold">
                                    <h5 style="font-weight: bold;"><%= value.name%></h5>
                                    <h5 class="mt-1" style="font-weight: bold;">Product Status: <%= value.status%></h5>
                                    <h5 class="mt-1" style="font-weight: bold;">Winning Date: <%= value.end_date%></h5>
                                    <h5 class="mt-1" style="font-weight: bold;">Product Amount: <%= value.product_amount%></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% }); %>
    <% } %>
<% } %>



</body>
</html>